name: CI/CD Pipeline
on: [push]

jobs:
  test-build-deploy:
    runs-on: self-hosted # Utilise votre runner DESKTOP-BVTDBM2
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Pytest
        # Suppression de "shell: bash" pour éviter l'erreur /bin/bash
        env:
          PYTHONPATH: src
        run: |
          pip install pytest pytest-cov
          pytest tests/ -v

      - name: Build Docker Image
        run: |
          docker build -t recommendation-api:latest .

      - name: Deploy to Kubernetes
        # on utilise le shell par défaut de Windows ici
        run: |
          kubectl apply -f k8s/service.yaml
          kubectl apply -f k8s/deployment.yaml